<!-- <back-navigation></back-navigation> -->
<ion-tabs>

  <ion-tab-bar class="bottom-navigation" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="./../../assets/icon/home.svg"></ion-icon>
      <hr>
    </ion-tab-button>

    <ion-tab-button tab="favorite">
      <ion-icon src="./../../assets/icon/heart.svg"></ion-icon>
      <hr>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon src="./../../assets/icon/bag.svg"></ion-icon>
      <hr>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="./../../assets/icon/user.svg"></ion-icon>
      <hr>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

