.bottom-navigation{
  height: 70px;
  border-top: none;
  // background-color: white;

  ion-tab-button{
    // background-color: white;
  }

  .tab-selected{
    hr{
      height: 4px;
      background-color: var(--ion-color-primary);
      width: 25px;
      border-radius: 10px;
    }
  }
}
